.menu-container {
    display: flex;
  }
  
  .sidebar {
    width: 200px;
    transition: width 0.3s;
  }
  
  .sidebar.collapsed {
    width: 40px;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  Link{
    position: fixed;
    bottom: 2px;
    width: 30%;
  }

  .butn{
    position: fixed !important;
    bottom: 5px !important;
    width: 33% !important;
    margin-left: 34% !important; 
  }