/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #2c3e50;
  color: white;
  padding: 15px;
  transition: width 0.3s ease;
  position: fixed;
}

.sidebar.collapsed {
  width: 50px;
}

.sidebar button {
  color: white;
  margin-bottom: 10px;
  background-color: #34495e;
  width: 100%;
  text-align: left;
  padding: 10px;
}

.sidebar .category-list {
  margin-top: 20px;
}

.sidebar .category-button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #34495e;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
  font-size: 14px;
  cursor: pointer;
}

.sidebar .category-button:hover {
  background-color: #1abc9c;
}

.sidebar .btn {
  display: block;
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar .btn:hover {
  background-color: #2980b9;
}

.sidebar .toggle-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: -25px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.sidebar .toggle-btn:hover {
  background-color: #1abc9c;
}
